* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background-color: #fd6e0a;
}

.header {
  background: #ffffff;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

/* banner styles */

.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-text {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* main section */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about-me section styles */

.about-me {
  margin-top: 130px;
  text-align: center;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}

.section-text {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* about info styles */

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info .info-title {
  font-size: 20px;
  color: #757575;
}

.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
